{% extends "blog/base.html" %} {% block title %} About {% endblock %} {% block
content %}
<h1>About</h1>
<h4 class="article-title">
  Bookman version 1.1 ;)
  <div class="media-body">
    <div class="article-content">
      I am a longtime hobby programmer I have been making games, websites, and
      programs since the original HTML and RPGMaker 95 around age 13. I have a
      wide versatile range of knowledge from programming to game making to ai,
      and much more. I am currently looking for a job in tech and i will work
      for low pay. You can check out my
      <a href="http://github.com/bindles">github</a> for more info and projects.
    </div>
  </div>
</h4>
{% endblock %}
